body  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(31, 41, 55);
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

#top-side {
    background-image: linear-gradient(45deg,
  hsl(240deg 100% 20%) 0%,
  hsl(234deg 100% 23%) 11%,
  hsl(228deg 100% 27%) 22%,
  hsl(223deg 100% 30%) 33%,
  hsl(217deg 100% 33%) 44%,
  hsl(211deg 100% 37%) 56%,
  hsl(205deg 100% 40%) 67%,
  hsl(200deg 100% 43%) 78%,
  hsl(194deg 100% 47%) 89%,
  hsl(188deg 100% 50%) 100%
);
    color: white;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    height: 30vh;
}

#bot-side {
    color: white;
    text-align: center;
    height: 70vh;
}

#input-el {
    border: none;
    appearance: none;
    background: none;
    color: white;
    font-size: 30px;
    text-align: center;
}